<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>puccinia</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    </head>
    <body class="container">
        <h3><a href="/">puccinia</a> &gt; <a href="/wallet/{{wallet.id}}">{{wallet.name}}</a> &gt; {{account.name}}</h3>

        {{#if positions}}
            <br/>
            <h4>Positions</h4>
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>Ticker</th>
                        <th>Name</th>
                        <th>Units</th>
                        <th>Price</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each positions}}
                        <tr>
                            <td><a href="/position/{{../wallet.id}}/{{../account.id}}/{{id}}">{{id}}</a></td>
                            <td>{{name}}</td>
                            <td align="right">{{units}}</td>
                            <td align="right">{{price}}</td>
                            <td align="right">{{value}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}

        <br/>
        <h4>Metrics</h4>
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Metric</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Original</td>
                    <td>{{original}}</td>
                </tr>
                <tr>
                    <td>Input</td>
                    <td>{{input}}</td>
                </tr>
                <tr>
                    <td>Output</td>
                    <td>{{output}}</td>
                </tr>
                <tr>
                    <td>Final</td>
                    <td>{{total}}</td>
            </tbody>
        </table>

        {{#if transactions}}
            <br/>
            <h4>Transactions</h4>
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Total Value</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each transactions}}
                        <tr>
                            <td><a href="/transaction/time/{{transaction.time}}">{{transaction.time}}</a></td>
                            <td><a href="/transaction/name/{{transaction.name}}">{{transaction.name}}</a></td>
                            <td align="right">{{transaction.amount}}</td>
                            <td align="right">{{total}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}
    </body>
</html>
