<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>puccinia</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    </head>
    <body class="container">
        <h3><a href="/">puccinia</a> &gt; <a href="/bank/{{bank_id}}">{{bank_name}}</a> &gt; {{kind}}_{{id}}</h3>

        <table class="table table-bordered table-hover table-sm">
            <tbody>
                <tr>
                    <th>Balance</th>
                    <td align="right">{{amount}}</td>
                </tr>
            </tbody>
        </table>

        {{#if positions}}
            <h4>Positions</h4>
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>Ticker</th>
                        <th>Name</th>
                        <th>Units</th>
                        <th>Unit Price</th>
                        <th>Market Value</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each positions}}
                        <tr>
                            <td>{{ticker}}</td>
                            <td>{{name}}</td>
                            <td align="right">{{units}}</td>
                            <td align="right">{{unit_price}}</td>
                            <td align="right">{{market_value}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}

        {{#if transactions}}
            <h4>Transactions</h4>
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Name</th>
                        <th>Kind</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each transactions}}
                        <tr>
                            <td>{{time}}</td>
                            <td>{{name}}</td>
                            <td>{{kind}}</td>
                            <td align="right">{{amount}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}
    </body>
</html>
