<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>puccinia</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    </head>
    <body class="container">
        <h3><a href="/">puccinia</a> &gt; <a href="/wallet/{{wallet.id}}">{{wallet.name}}</a> &gt; <a href="/account/{{wallet.id}}/{{account.id}}">{{account.name}}</a> &gt; {{position.id}}</h3>

        <br/>
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Name</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{position.id}}</td>
                    <td>{{position.name}}</td>
                    <td align="right">{{position.units}}</td>
                    <td align="right">{{position.price}}</td>
                    <td align="right">{{position.value}}</td>
                </tr>
            </tbody>
        </table>

        {{#if transactions}}
            <br/>
            <h4>Transactions</h4>
            <h5>Input Units: {{input_units}}</h5>
            <h5>Input Value: {{input_value}}</h5>
            <h5>Output Units: {{output_units}}</h5>
            <h5>Output Value: {{output_value}}</h5>
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Name</th>
                        <th>Units</th>
                        <th>Total Units</th>
                        <th>Price</th>
                        <th>Value</th>
                        <th>Current Value</th>
                        <th>Change in Value</th>
                        <th>Total Value</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each transactions}}
                        <tr>
                            <td><a href="/transaction/time/{{transaction.time}}">{{transaction.time}}</a></td>
                            <td><a href="/transaction/name/{{transaction.name}}">{{transaction.name}}</a></td>
                            <td align="right">{{transaction.units}}</td>
                            <td align="right">{{total_units}}</td>
                            <td align="right">{{transaction.price}}</td>
                            <td align="right">{{transaction.value}}</td>
                            <td align="right">{{value}}</td>
                            <td align="right">{{value_change}}</td>
                            <td align="right">{{total_value}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}
    </body>
</html>
