<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>puccinia</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" integrity="sha256-N4u5BjTLNwmGul6RgLoESPNqDFVUibVuOYhP4gJgrew=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
        <script src="/static/util.js"></script>
        <script src="/static/position.js"></script>
    </head>
    <body class="container" onload="onload('{{wallet.id}}', '{{account.id}}', '{{position.id}}')">
        <h3><a href="/">puccinia</a> &gt; <a href="/wallet/{{wallet.id}}">{{wallet.name}}</a> &gt; <a href="/account/{{wallet.id}}/{{account.id}}">{{account.name}}</a> &gt; {{position.id}}</h3>

        <br/>
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Name</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{position.id}}</td>
                    <td>{{position.name}}</td>
                    <td align="right">{{position.units}}</td>
                    <td align="right">{{position.price}}</td>
                    <td align="right">{{position.value}}</td>
                </tr>
            </tbody>
        </table>

        <br>
        <h4>Charts</h4>
        <div class="row">
            <div class="col-sm">
                <canvas id="chart_price" width="400" height="300"></canvas>
            </div>
            <div class="col-sm">
                <canvas id="chart_value" width="400" height="300"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <canvas id="chart_change_in_shares" width="400" height="300"></canvas>
            </div>
            <div class="col-sm">
                <canvas id="chart_total_shares" width="400" height="300"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <canvas id="chart_cash_flow" width="400" height="300"></canvas>
            </div>
            <div class="col-sm">
                <canvas id="chart_net_cash_flow" width="400" height="300"></canvas>
            </div>
        </div>

        <br/>
        <h4>Metrics</h4>
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Metric</th>
                    <th>Units</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Original</td>
                    <td>{{original_units}}</td>
                    <td>{{original_value}}</td>
                </tr>
                <tr>
                    <td>Input</td>
                    <td>{{input_units}}</td>
                    <td>{{input_value}}</td>
                </tr>
                <tr>
                    <td>Output</td>
                    <td>{{output_units}}</td>
                    <td>{{output_value}}</td>
                </tr>
                <tr>
                    <td>Final</td>
                    <td>{{position.units}}</td>
                    <td>{{position.value}}</td>
            </tbody>
        </table>

        {{#if transactions}}
            <br/>
            <h4>Transactions</h4>
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Name</th>
                        <th>Units</th>
                        <th>Total Units</th>
                        <th>Price</th>
                        <th>Value</th>
                        <th>Current Value</th>
                        <th>Change in Value</th>
                        <th>Total Value</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each transactions}}
                        <tr>
                            <td>{{transaction.time}}</td>
                            <td>{{transaction.name}}</td>
                            <td align="right">{{transaction.units}}</td>
                            <td align="right">{{total_units}}</td>
                            <td align="right">{{transaction.price}}</td>
                            <td align="right">{{transaction.value}}</td>
                            <td align="right">{{value}}</td>
                            <td align="right">{{value_change}}</td>
                            <td align="right">{{total_value}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}
    </body>
</html>
