<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/static/thirdparty/bootstrap.css">
        <link rel="stylesheet" href="/static/style.css">

        <title>{{position.id}} - {{account.name}} - {{wallet.name}} - puccinia</title>
    </head>
    <body class="container" onload="onload('{{wallet.id}}', '{{account.id}}', '{{position.id}}')">
        <h3><a href="/">puccinia</a> &gt; <a href="/wallet/{{wallet.id}}">{{wallet.name}}</a> &gt; <a href="/account/{{wallet.id}}/{{account.id}}">{{account.name}}</a> &gt; {{position.id}}</h3>

        <br/>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Name</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{position.id}}</td>
                    <td>{{position.name}}</td>
                    <td align="right">{{position.units}}</td>
                    <td align="right">{{position.price}}</td>
                    <td align="right">{{position.value}}</td>
                </tr>
            </tbody>
        </table>

        <br>
        <h4>Charts</h4>

        <div class="row">
            <div class="input-group col-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Since</span>
                </div>
                <input id="chart_since" type="date" value="2020-01-01" class="form-control" onchange="refresh('{{wallet.id}}', '{{account.id}}', '{{position.id}}')"/>
                <div class="input-group-prepend">
                    <span class="input-group-text">Until</span>
                </div>
                <input id="chart_until" type="date" value="2021-12-31" class="form-control" onchange="refresh('{{wallet.id}}', '{{account.id}}', '{{position.id}}')"/>
            </div>
        </div>

        <div id="charts"></div>

        <br/>
        <h4>Metrics</h4>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Metric</th>
                    <th>Units</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Original</td>
                    <td>{{original_units}}</td>
                    <td>{{original_value}}</td>
                </tr>
                <tr>
                    <td>Input</td>
                    <td>{{input_units}}</td>
                    <td>{{input_value}}</td>
                </tr>
                <tr>
                    <td>Output</td>
                    <td>{{output_units}}</td>
                    <td>{{output_value}}</td>
                </tr>
                <tr>
                    <td>Final</td>
                    <td>{{position.units}}</td>
                    <td>{{position.value}}</td>
            </tbody>
        </table>

        {{#if transactions}}
            <br/>
            <h4>Transactions</h4>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Name</th>
                        <th>Units</th>
                        <th>Total Units</th>
                        <th>Price</th>
                        <th>Value</th>
                        <th>Current Value</th>
                        <th>Change in Value</th>
                        <th>Total Value</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each transactions}}
                        <tr>
                            <td>{{transaction.time}}</td>
                            <td>{{transaction.name}}</td>
                            <td align="right">{{transaction.units}}</td>
                            <td align="right">{{total_units}}</td>
                            <td align="right">{{transaction.price}}</td>
                            <td align="right">{{transaction.value}}</td>
                            <td align="right">{{value}}</td>
                            <td align="right">{{value_change}}</td>
                            <td align="right">{{total_value}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}

        <script src="/static/thirdparty/moment.js"></script>
        <script src="/static/thirdparty/chart.js"></script>
        <script src="/static/thirdparty/hammer.js"></script>
        <script src="/static/thirdparty/chartjs-plugin-zoom.js"></script>
        <script src="/static/util.js"></script>
        <script src="/static/position.js"></script>
    </body>
</html>
