<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>puccinia</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" integrity="sha256-N4u5BjTLNwmGul6RgLoESPNqDFVUibVuOYhP4gJgrew=" crossorigin="anonymous"></script>
        <script src="/static/util.js"></script>
        <script src="/static/wallet.js"></script>
    </head>
    <body class="container" onload="onload('{{wallet.id}}')">
        <h3><a href="/">puccinia</a> &gt; {{wallet.name}}</h3>

        <br/>
        <h4>Total: {{total}}</h4>

        {{#if accounts}}
            <br/>
            <h4>Accounts</h4>
            <table class="table table-bordered table-hover table-sm">
                <tbody>
                    {{#each accounts}}
                        <tr>
                            <td><a href="/account/{{../wallet.id}}/{{account.id}}">{{account.name}}</a></td>
                            <td align="right">{{total}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}

        <br>
        <h4>Charts</h4>
        <div class="row">
            <div class="col-sm">
                <canvas id="chart_cash_flow" width="400" height="300"></canvas>
            </div>
            <div class="col-sm">
                <canvas id="chart_net_cash_flow" width="400" height="300"></canvas>
            </div>
        </div>
    </body>
</html>
